/* Page Style */
body {
	font-family: "Arial", Arial;
	font-size: small;
}

#container {
	position: relative;
}

.left {
	float: left;
}

.right {
	float: right;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Navigation Bar */
#top_navigation {
	width: 100%;
	height: 30px;
}

#top_navigation a {
	display: block;
	width: 60px;
	padding: 15px 3px;
}

#top_navigation #sign_in {
	background-color: #4285f4;
	margin: 8px;
	padding: 8px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	text-align: center;
	color: #FFFFFF;
}

#top_navigation #apps_icon {
	background-image: url("icons.png");
	background-position: 23px -45px;
	height: 20px;
	width: 20px;
	opacity: .55;
	display: block;
}

a {
	text-decoration: none;
	color: #000000;
}

/* Search Fields and Logo */
#search_fields {
	padding-top: 15%;
	padding-bottom: 10%;
	text-align: center;
}

#search_fields img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#search {
	margin: 10px;
	padding: 5px;
	width: 500px;
	height: 20px;
	outline-width: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #0000FF;
}

input[type=submit] {
	margin: 5px;
	padding: 5px;
	border: solid;
	border-color: #D8D8D8;
	border-width: 1px;
	background-color: #F0F0F0;
}

input[type=submit]:hover {
	outline: #929292 solid 1px;
}

/* Bottom Navigation */
#bottom_navigation {
	height: 30px;
	width: 100%;
}

#bottom_navigation a {
	display: inline;
	width: 60px;
	padding: 15px 13px;
}