body {
    width: 100%;
    text-align: center;
}

button {
    display: inline-block;
}

#header {
  margin-top: 20px;
  margin-bottom: 20px;
}

#container {
    display: inline-block;
}

.square {
  outline: 1px solid black;
  height: 40px;
  width: 40px;
}

.right {
    float: right;
}

.clear {
    clear: right;
}

.black {
    background-color: black;
}
